@{
    ViewData["Title"] = "Home Page";
}
@model WUBank.Models.HomePageModel
<div class="text-center">
    <div>
        @if (User?.Identity?.IsAuthenticated == false)
        {
            <form asp-action="SignIn" asp-controller="Auth" method="post">
                <input type="hidden" name="Provider" value="Steam" />
                <button class="btn btn-lg btn-success m-1" type="submit">Connect using Steam</button>
            </form>
        }
        else
        {
            <h1>Hello</h1>
            @User?.Claims.ElementAt(0)?.Value
            <form asp-action="SignOutUser" asp-controller="Auth" method="post">
                <button class="btn btn-lg btn-success m-1" type="submit">Logout</button>
            </form>                  
            <h1>Информация о пользователе</h1>
            <p>Имя: @Model.User.UserName | Баланс: @Model.User.Balance</p>
            <h1>Информация об игре</h1>
            <h1>@Model.Game.Tip</h1>
            <p>Ставка: @Model.Game.Bet | Кол-во кнопок: @Model.Game.TotalButtons |  Стимайди игрока: @Model.Game.PlayerSteamID</p>
            <form asp-action="ChangeBet" asp-controller="Game" , method="post">
                <button type="submit">Сменить ставку</button>
                <input type="number" name="newBet">
            </form>
            <form asp-action="ChangeButtons" asp-controller="Game" , method="post">
                <button type="submit">Сменить кол-во кнопок</button>
                <input type="number" name="newButtons">
            </form>
            @for (int i = 0; i < Model.Game.TotalButtons; i++)
            {
                
                <form asp-action="GameButton" asp-controller="Game" asp-route-button="@i", method="post">
                    <button type="submit">Button [@i]</button>
                </form>
               
            }
        }
    </div>
</div>
